#       OS        #
###################
.DS_Store
.idea
Thumbs.db


#     Node.js     #
###################
node_modules
package-lock.json
*.log


#       NYC       #
###################
coverage
*.lcov
.nyc_output


#      Build      #
###################
dist
build
lib